body{
    background: #FBFBFB;
    background: transparent url("img/paper.png") repeat scroll 0% 0%;
}

.info {
    background: rgb(200,230,240);
    margin-right: 1%;
    padding:1%;
    border-radius: 3px;
    float: left;
    margin-bottom: 2%;
}

.side {
    background: rgb(200,230,240);
    padding:4%;
    border-radius: 3px;
    float: right;
    margin-bottom: 4%;
    width:100%;
    padding-bottom:1%;
}

.post {
    padding:5%;
    padding-bottom: 0%;
    background: #FEFEFE;
    border-radius: 2px;
    padding-top: 1%;
}

.side-content {
    background: #FCFCFC;
    padding: 6%;
    border-radius: 2px;
    margin-bottom:4%;
    padding-bottom: 6%;
    padding-left:10%;
    padding-right: 10%;
}

.post-footer {
    text-align: right;
    color: darkgray;
    bottom: 0;
    margin-top:1%;
    padding:2%;
}

.mile {
    padding:2%;
    padding-top:4%;
    padding-left:4%;
    padding-right:4%;
    border-radius:4px;
    border:1px solid #DDDDDD;
    margin-top:4%;
    background:#FFFFFF;
    margin-left:0;
    margin-bottom: 4%;
    color: #777777;
}

.side-content h5 {
    color:#777777;
    text-align: center;
    font-size: 14pt;
}

#octocatIcon {
    width:24px;
    height: 24px;
    float: right;
}

.open {
    background:;
}

.closed {
    background: #DDDDDD;
}

#github h4{
    font-size: 15pt;
    color:#777777;
    margin-top: 10%;
}

#milestones h5{
    font-size: 13pt;
    color:#777777;
}

.inputTitle {
    border:none;
    border-radius: 4px;
    padding:1%;
    color: #444444;
    font-size: 27pt;
    box-shadow: 0px 0px 5px rgb(120,100,180);
}

.closedissues {
    background: rgb(110,100,180);
    padding:4px;
    float:left;
}

.openissues {
    background: "#BBBBBB";
    padding:4px;
    float: right;
}

.drop-hover{
    background: rgb(210, 210, 240);
    color: #000000;
    margin-top:2%;
    min-height:100px;
    border:3px dotted #BBBBBB;
    border-radius: 4px;
    padding:1.7%;
    text-align: center;
    line-height: 100px;
}

.drop-area {
    margin-top:2%;
    min-height:100px;
    border:1px solid #BBBBBB;
    border-radius: 4px;
    color: #A1A1A1;
    padding:2%;
    text-align: center;
    line-height: 100px;
}

.inputSubtitle {
    border:none;
    border-radius: 4px;
    font-size: 17pt;
    padding:5px;
    color: #444444;
    box-shadow: 0px 0px 5px rgb(120,100,180);
}

.inputBody{
    width:100%;
    border:none;
    border-radius: 4px;
    font-size: 11pt;
    padding:5px;
    color: #444444;
    box-shadow: 0px 0px 5px rgb(120,100,180);
}
